<a href="https://colab.research.google.com/github/ykitaguchi77/manipulate_CSV/blob/master/csv%E3%81%AE%E3%83%AA%E3%82%B9%E3%83%88%E3%81%8B%E3%82%89%E7%94%BB%E5%83%8F%E3%82%92%E6%8A%9C%E3%81%8D%E5%87%BA%E3%81%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**CSVのリストから指定された画像を抜き出すスクリプト**

In [1]:
#Google colabをマウント
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
import pandas as pd


df = pd.read_csv('/content/drive/MyDrive/Deep_learning/Olympia_dataset/AI_treatment.csv', encoding='shift_jis')

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 10)
print(df)

      写真No.  性       初診年月日        生年月日  年令  ... 程度      分類                治療法  \
0         1  男  2019.09.19  1962.09.11  57  ...  0  コントロール                NaN
1         2  女  2019.08.27  1960.03.10  59  ...  3       軽                NaN
2         3  女  2019.01.04  1971.04.12  47  ...  3       中                NaN
3         4  女  2019.01.04  1969.04.19  49  ...  1       中  パルス、筋ケナ、球後注、リニアック
4         5  男  2019.01.04  1966.11.24  52  ...  2       中          筋ケナ、Botox
...     ... ..         ...         ...  ..  ... ..     ...                ...
1011   1027  女  2019.11.26  1975.05.01  44  ...  2       軽                瞼ケナ
1012   1028  女  2019.11.27  1977.01.17  42  ...  1       中            瞼ケナ、パルス
1013   1029  女  2019.11.28  1950.08.30  69  ...  1       重    パルス、Botox、リニアック
1014   1030  女  2019.12.03  1975.11.24  44  ...  1       重                パルス
1015   1031  男  2019.12.03  1962.09.17  57  ...  1       重      球後注、パルス、Botox

      ステロイド治療  Treatment 1:Yes 0:No
0         NaN                     0
1         NaN                     0
2         NaN                     0
3         パルス                     1
4        局所注射                     1
...       ...                   ...
1011     局所注射                     1
1012      パルス                     1
1013      パルス                     1
1014      パルス                     1
1015      パルス                     1

[1016 rows x 15 columns]