<a href="https://colab.research.google.com/github/ykitaguchi77/manipulate_CSV/blob/master/Extract_specific_disease_files_local.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 特定の疾患の患者の画像ファイルを、眼位写真Newから抜き出す

In [105]:
import pandas as pd

# shift_jis での読み込みを試みる
try:
    df_all = pd.read_csv("F:\●DiseaseInfo_all_connected_20230907.csv", encoding="shift_jis", header=None)
except UnicodeDecodeError:
    # cp932 での読み込みを試みる
    df_all = pd.read_csv("F:\●DiseaseInfo_all_connected_20230907.csv", encoding="cp932", header=None)

# 「眼窩腫瘍」あるいは「涙腺腫瘍」が含まれている行を抜き出す
filtered_df = df_all[df_all.apply(lambda row: row.astype(str).str.contains('眼窩腫瘍|涙腺腫瘍').any(), axis=1)]

filtered_df

filtered_df.to_csv(r"D:\ダウンロード\filtered_diseases_眼窩腫瘍_涙腺腫瘍.csv", index=False, header=0, encoding="shift_jis")

C:\Users\ykita\AppData\Local\Temp\ipykernel_20708\2880130393.py:5: DtypeWarning: Columns (24,26,27,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,69,70,82,84,85,86,87,88,89,90,91,98,100,101,105,112,114,115,116,117,118) have mixed types. Specify dtype option on import or set low_memory=False.
  df_all = pd.read_csv("F:\●DiseaseInfo_all_connected_20230907.csv", encoding="shift_jis", header=None)

In [106]:
# C列 (2番目のカラム) のデータをリストに変換
patient_number_list = filtered_df.iloc[:, 2].tolist()

# patient_number_list = [
#     465, 1020, 1304, 1396, 1773, 1995, 2941, 3176, 3600, 3684, 3759, 3809,
#     4125, 4588, 4939, 5125, 5203, 5299, 5890, 6515, 7049, 7765, 24, 36, 1309,
#     2765, 3079, 3146, 3428, 3496, 3832, 4186, 5491, 5541, 5582, 7161, 7397,
#     7870, 7987, 1041, 1259, 1483, 1508, 2736, 4388, 4874, 5880, 6269, 6320,
#     6654, 6663, 6965, 7025, 7507, 8105, 17, 19, 57, 122, 129, 155, 180, 374,
#     385, 425, 426, 429, 466, 489, 507, 533, 534, 555, 611, 718, 724, 782, 787,
#     818, 876, 893, 950, 957, 965, 977, 983, 1001, 1037, 1088, 1231, 1270, 1284,
#     1313, 1333, 1336, 1347, 1357, 1370, 1378, 1385, 1429, 1432, 1438, 1446, 1453,
#     1457, 1501, 1503, 1524, 1525, 1528, 1553, 1597, 1664, 1682, 1729, 1764, 1743,
#     1786, 1815, 1841, 1910, 1913, 1931, 2007, 2042, 2148, 2182, 2189, 2203, 2222,
#     2231, 2274, 2307, 2321, 2370, 2407, 2414, 2436, 2508, 2510, 2558, 2623, 2630,
#     2644, 2658, 2664, 2668, 2670, 2684, 2689, 2709, 2726, 2762, 2794, 2801, 2803,
#     2837, 2851, 2853, 2885, 2900, 2960, 2967, 2974, 3046, 3056, 3077, 3128, 3144,
#     3162, 3164, 3167, 3209, 3217, 3237, 3264, 3276, 3331, 3352, 3412, 3444, 3472,
#     3484, 3502, 3528, 3532, 3543, 3567, 3568, 3609, 3646, 3667, 3695, 3714, 3748,
#     3752, 3783, 3802, 3843, 3875, 3918, 3929, 3942, 3976, 4008, 4030, 4069, 4206,
#     4209, 4233, 4263, 4272, 4292, 4331, 4332, 4359, 4382, 4344, 4465, 4480, 4485,
#     4486, 4540, 4553, 4577, 4606, 4616, 4618, 4619, 4628, 4652, 4681, 4710, 4713,
#     4759, 4805, 4813, 4822, 4881, 4921, 4930, 4958, 4993, 4997, 5015, 5021, 5051,
#     5069, 5070, 5095, 5310, 5237, 5260, 5273, 5290, 5297, 5323, 5333, 5335, 5337,
#     5378, 5397, 5426, 5540, 5543, 5546, 5550, 5551, 5571, 5586, 5607, 5608, 5646,
#     5647, 5673, 5681, 5758, 5763, 5768, 5820, 5838, 5865, 5888, 5901, 5906, 5913,
#     5965, 5989, 6003, 6074, 6106, 6147, 6150, 6155, 6163, 6277, 6283, 6297, 6298,
#     6355, 6432, 6478, 6486, 6489, 6502, 6513, 6518, 6553, 6555, 6579, 6599, 6643,
#     6662, 6707, 6725, 6764, 6788, 6806, 6855, 6956, 6989, 7041, 7044, 7077, 7104,
#     7166, 7277, 7283, 7291, 7295, 7302, 7346, 7349, 7403, 7419, 7428, 7436, 7443,
#     7449, 7455, 7527, 7534, 7552, 7644, 7669, 7681, 7709, 7745, 7763, 7781, 7798,
#     7800, 7867, 7874, 7879, 7900, 7936, 8079, 8168, 8184, 8198
# ]

patient_number_list

[14,
 55,
 144,
 211,
 300,
 332,
 380,
 421,
 566,
 613,
 675,
 676,
 752,
 772,
 773,
 851,
 979,
 981,
 1035,
 1062,
 1339,
 1409,
 1436,
 1670,
 1695,
 1778,
 1811,
 1851,
 1860,
 1965,
 2036,
 2040,
 2132,
 2194,
 2253,
 2309,
 2310,
 2391,
 2396,
 2420,
 2434,
 2720,
 2749,
 2852,
 2884,
 2894,
 2909,
 2932,
 2972,
 2997,
 3015,
 3083,
 3100,
 3209,
 3280,
 3286,
 3319,
 3474,
 3516,
 3524,
 3598,
 3706,
 3753,
 3758,
 3883,
 3896,
 3953,
 3955,
 3965,
 3990,
 4007,
 4021,
 4049,
 4064,
 4082,
 4109,
 4207,
 4255,
 4270,
 4274,
 4318,
 4324,
 4351,
 4446,
 4602,
 4684,
 4724,
 4726,
 4736,
 4765,
 4777,
 4789,
 4825,
 4831,
 4853,
 4889,
 4896,
 4973,
 4978,
 4982,
 5013,
 5075,
 5085,
 5148,
 5250,
 5262,
 5305,
 5319,
 5330,
 5334,
 5346,
 5436,
 5449,
 5458,
 5555,
 5679,
 5694,
 5708,
 5748,
 5799,
 5832,
 5860,
 5877,
 5879,
 5890,
 5902,
 5913,
 5922,
 5928,
 6169,
 6191,
 6197,
 6213,
 6231,
 6368,
 6474,
 6484,
 6530,
 6539,
 6544,
 6555,
 6573,
 6582,
 6688,
 6853,
 6996,
 7012,
 7038,
 7105,
 7149,
 7168,
 7216,
 7239,
 7251,
 7274,
 7284,
 7414,
 7445,
 7474,
 7505,
 7527,
 7531,
 7545,
 7598,
 7633,
 7644,
 7674,
 7696,
 7743,
 7768,
 7800,
 7834,
 7903,
 8199,
 8272,
 8313,
 8324,
 8343,
 8388,
 8394,
 8398,
 8419,
 8423,
 8433,
 8451,
 8455,
 8464,
 8476,
 8483,
 8490,
 8553,
 8595,
 8598,
 8605,
 8617,
 8618,
 8626,
 8633,
 8642,
 8680,
 8704,
 8711,
 8745,
 8781,
 8795,
 8847,
 8852,
 8855,
 8856,
 8877,
 8902,
 8936,
 8956,
 8974,
 8999,
 9011,
 9023,
 9092,
 9123,
 9126,
 9152,
 9166,
 9171,
 9194,
 9220,
 9286,
 9291,
 9304,
 9312,
 9355,
 9363,
 9399,
 9409,
 9491,
 9497,
 9500,
 9526,
 9530,
 9538,
 9555,
 9572,
 9657,
 9672,
 9681,
 9711,
 9729,
 9767]

In [ ]:
"""
特定の数字リストに基づいて眼位写真NEW内のファイルをフィルタリングし、マッチするファイルのフルパスをリストに保存

"""

import os
import re

# 1. Create an empty list
resulting_files = []

# 2. Iterate over all files in the specified directory
# Note: This code cannot be run in this environment, but is provided for reference.
for filename in os.listdir("F:\\眼位写真NEW"):
    # 3. Extract the number from the basename
    base_name = os.path.basename(filename)
    match = re.match(r"^\d+", base_name)
    if match:
        number = int(match.group(0))
        # 4. Check if the number is in the specified list
        if number in patient_number_list:
            resulting_files.append(os.path.join("F:\\眼位写真NEW", filename))

# Output the resulting_files list (commented out since we cannot run the os.listdir in this environment)
resulting_files

In [ ]:
def extract_dates_and_years(file_paths):
    # 日付を抜き出す
    dates = []
    for path in file_paths:
        date_match = re.search(r'(\d{8})', path)
        if date_match:
            dates.append(date_match.group(1))

    # 日付から年を抜き出す
    years = [date[:4] for date in dates]

    return dates, years

def filter_files_by_year(file_paths, start_year):
    _, years = extract_dates_and_years(file_paths)

    # Filtering files based on the year
    filtered_files = [file for file, year in zip(file_paths, years) if int(year) >= start_year]

    return filtered_files

# Filtering the resulting_files list for files from 2017 onwards
filtered_files_2017_onwards = filter_files_by_year(resulting_files, 2017)
filtered_files_2017_onwards

In [75]:
len(filtered_files_2017_onwards)

1430

In [77]:
from tqdm import tqdm
import shutil

destination_folder = "F:\\眼位写真\\眼位写真_甲状腺眼症"

# If the folder already exists, delete it
if os.path.exists(destination_folder):
    shutil.rmtree(destination_folder)
os.makedirs(destination_folder)

# Copy files to the destination folder with tqdm progress bar
for file_path in tqdm(filtered_files_2017_onwards, desc="Copying files"):
    shutil.copy(file_path, destination_folder)

Copying files: 100%|███████████████████████████████████████████████████████████████| 1430/1430 [04:00<00:00,  5.96it/s]

In [109]:
data = []

for path in filtered_files_2017_onwards:
    matches = re.findall(r'(\d+)-(\d+)-\d+-\d+_(\w+)\.', path)
    if matches:
        row = []
        for match in matches[0]:
            if match.isdigit():
                row.append(int(match))
            else:
                row.append(match)
        data.append(row)

df = pd.DataFrame(data, columns=['Patient_num', 'date', 'Hash'])
df[['Patient_id', 'Hertel_R', 'Hertel_L']] = None #空の行を追加
df = df[['Patient_id', 'Patient_num', 'date', 'Hash', 'Hertel_R', 'Hertel_L']] #並べ替え


df

,Patient_id,Patient_num,date,Hash,Hertel_R,Hertel_L
0,None,1062,20180404,9192f0dcaee87f1f8071387fac79037b7a40212ac86a25...,None,None
1,None,1062,20180404,08db1dfe18960bc5e785256a12f514a56ff968040dde8a...,None,None
2,None,1062,20180404,3e18fda968b32ddf462c3d2a8f615d63f48e4954e4d352...,None,None
3,None,1062,20180404,5afff5640cf3bbf0f707b295a3390bf487cd6fd5928df0...,None,None
4,None,1062,20180404,a96a29183ef9ca0d801553b03d855a44a5738cc20fa0ff...,None,None
...,...,...,...,...,...,...
1528,None,981,20170913,074cbd7715adb5a0b1acf10b4cfdf8c3a93f3fdecfb1fc...,None,None
1529,None,981,20171115,7414786a9d3a2aaa23860bc7eef1a4b6b49fc5a967104e...,None,None
1530,None,981,20171115,b83239275619ead317d5956489d6cd60902a030ba81dd8...,None,None
1531,None,981,20180314,43b02e9ec1903d32d76ba638447cffa04582fd29045f14...,None,None
1532,None,981,20180912,8fd2a92660d059f5e32d451f65b579c27958a85c4f1520...,None,None

In [112]:
# filtered_dfの2列目とdfのPatient_numが一致する場合、
# filtered_dfの0列目の内容をdfのPatient_id列に書き込む
for index, row in df.iterrows():
    matching_rows = df_all[df_all.iloc[:, 2] == row['Patient_num']]
    if not matching_rows.empty:
        df.at[index, 'Patient_id'] = "{:08}".format(int(matching_rows.iloc[0, 0]))

# Drop the 'Hash' column
try:
    df = df.drop(columns=['Hash'])
except:
    pass

# Drop duplicate rows based on 'Patient_num'
df.drop_duplicates(subset=['Patient_num', 'date'], inplace=True)

# Sort the dataframe by 'Patient_num' as primary and 'date' as secondary
df = df.sort_values(by=['Patient_num', 'date'])


# Reset the index
df = df.reset_index(drop=True)



df

    Patient_id  Patient_num      date Hertel_R Hertel_L
0     11194169           14  20190604     None     None
1     11194169           14  20190613     None     None
2     11194169           14  20190717     None     None
3     11194169           14  20200311     None     None
4     11309711          211  20170220     None     None
..         ...          ...       ...      ...      ...
817   11798971         9767  20200701     None     None
818   11798971         9767  20201007     None     None
819   11798971         9767  20210106     None     None
820   11798971         9767  20210203     None     None
821   11798971         9767  20210512     None     None

[822 rows x 5 columns]

In [114]:
df.to_csv(r"D:\ダウンロード\filtered_diseases_眼窩涙腺腫瘍_Hertel.csv", index=False, header=True, encoding="shift_jis")

In [ ]:
df