<a href="https://colab.research.google.com/github/ykitaguchi77/manipulate_CSV/blob/master/Pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Create dataframe with Pandas**

#**リスト形式でデータフレームを作成**

In [1]:
import pandas as pd
 
# initialize data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [2]:
# DataFrame using arrays.
import pandas as pd
 
# initialize data of lists.
data = {'Name':['Tom', 'Jack', 'nick', 'juli'],
        'marks':[99, 98, 95, 90]}
 
# Creates pandas DataFrame.
df = pd.DataFrame(data, index =['rank1',
                                'rank2',
                                'rank3',
                                'rank4'])
 
# print the data
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

#**Dict形式でデータフレームを作成**

In [3]:
# Python code demonstrate how to create
# Pandas DataFrame by lists of dicts.
import pandas as pd
 
# Initialize data to lists.
data = [{'a': 1, 'b': 2, 'c':3},
        {'a':10, 'b': 20, 'c': 30}]
 
# Creates DataFrame.
df = pd.DataFrame(data)
 
# Print the data
df

    a   b   c
0   1   2   3
1  10  20  30

In [4]:
# Python code demonstrate to create
# Pandas DataFrame by passing lists of
# Dictionaries and row indices.
import pandas as pd
 
# Initialize data of lists
data = [{'b': 2, 'c':3}, {'a': 10, 'b': 20, 'c': 30}]
 
# Creates pandas DataFrame by passing
# Lists of dictionaries and row index.
df = pd.DataFrame(data, index =['first', 'second'])
 
# Print the data
df

         b   c     a
first    2   3   NaN
second  20  30  10.0

In [5]:
import pandas as pd
  
# Initialize lists data.
data = [{'a': 1, 'b': 2},
        {'a': 5, 'b': 10, 'c': 20}]
  
# With two column indices, values same
# as dictionary keys
df1 = pd.DataFrame(data, index =['first',
                                 'second'],
                   columns =['a', 'b'])
  
# With two column indices with
# one index with other name
df2 = pd.DataFrame(data, index =['first',
                                 'second'],
                   columns =['a', 'b1'])
  
# print for first data frame
print (df1, "\n")
  
# Print for second DataFrame.
print (df2)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN

#**空のデータフレームを作成して書き込んでいくパターン**

#空のデータフレームを作成

In [8]:
# カラムがないindexだけ設定されているDataFrameを作成
df = pd.DataFrame(index=[], columns=[])
print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
#列を書き込んでいく
df["age"] = [10, 15, 20, 25]
df["sex"] = ["M", "F", "M", "F"]
df

   age sex
0   10   M
1   15   F
2   20   M
3   25   F

In [14]:
#行数を揃えないとエラーになる
df["name"] = ["Yamada", "Sato", "Tanaka"]

ValueError: ignored

#先に列名だけ決めておき行を追加していくパターン

In [20]:
# カラムがないindexだけ設定されているDataFrameを作成
df = pd.DataFrame(index=[], columns=["age","sex","name"])
print(df)

Empty DataFrame
Columns: [age, sex, name]
Index: []

In [21]:
df.loc[len(df.index)] = [10, "M", "Yamada"] 
df.loc[len(df.index)] = [15, "F", "Sato"] 
df

  age sex    name
0  10   M  Yamada
1  15   F    Sato

In [22]:
#列数が揃っていないとエラーになる
df.loc[len(df.index)] = [15, "F"]

ValueError: ignored