<a href="https://colab.research.google.com/github/ykitaguchi77/manipulate_CSV/blob/master/%E5%85%88%E5%A4%A9%E6%80%A7%E7%B7%91%E5%86%85%E9%9A%9C_CSV%E3%81%A7%E4%B8%80%E8%87%B4%E3%81%99%E3%82%8B%E3%82%AB%E3%83%A9%E3%83%A0%E3%82%92%E5%8F%82%E7%85%A7%E3%81%97%E3%81%A6%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#google driveをcolabolatoryにマウント
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
import pandas as pd
pd.set_option('display.max_columns', 10)


def openCSV(csv_path):
    try:
        df = pd.read_csv(csv_path, encoding="shift-jis")
    except:
        df = pd.read_csv(csv_path, encoding="utf-8")
    #df = df.drop(df.columns[[0]], axis=1) #1列目を削除する
    print(df)
    return df

#CSVを開く （csv1:編集するファイル、csv2:参照するファイル）
csv1_path = '/content/drive/MyDrive/進行中の研究/先天性緑内障プロジェクト/先天性緑内障1.3.csv'
csv2_path = '/content/drive/MyDrive/進行中の研究/先天性緑内障プロジェクト/DiseaseInfo_all_connected_all.csv'

df1, df2 = openCSV(csv1_path), openCSV(csv2_path) #CSVを開く

     Unnamed: 0        id Unnamed: 2  Unnamed: 3 Unnamed: 4  ... Unnamed: 6  \
0           1.0   2601241          男         NaN         松下  ...        NaN
1           2.0   5658954          男         NaN         松下  ...        NaN
2           3.0   4366674          男         NaN         松下  ...         22
3           4.0   4418561          男         NaN         松下  ...         20
4           5.0   4538090          男         NaN         松下  ...        15歳
..          ...       ...        ...         ...        ...  ...        ...
135       135.0  10581838          女         NaN         松下  ...        NaN
136       136.0   9516680          男         NaN         松下  ...         なし
137       137.0  11885551          男         NaN         松下  ...         あり
138       138.0  10767701          男         NaN         松下  ...         あり
139       139.0  11059336          男         NaN         松下  ...         なし

    Unnamed: 7  Unnamed: 8 Unnamed: 9 Unnamed: 10
0           5歳    1947/5/5      （１）両眼         NaN
1          幼少時   1964/8/29      （１）両眼         NaN
2           6歳   1970/1/10      （１）両眼         NaN
3        5歳2ヵ月   1970/11/5      （１）両眼         NaN
4        3歳3ヵ月  1972/10/15      （３）左眼         NaN
..         ...         ...        ...         ...
135        NaN          なし      40027           両
136        NaN          なし      38765           両
137        NaN          1歳      43380           右
138        NaN         なし？      41183         NaN
139        NaN         NaN      40075           両

[140 rows x 11 columns]
        10893530  \
0      7777705.0
1     10527858.0
2     10021590.0
3     10964694.0
4      7711566.0
...          ...
9819  11613788.0
9820   9055165.0
9821  11452681.0
9822   6911048.0
9823  11587782.0

     d8847829893b30e2bff7943b01ca557fe839cf9b649d5e51b22a88c8b6a16b1d     1  \
0     a084892cbe599b02304e56535d7072d736271bd487abf4...                   2
1     d53872e128cd3d405f313b5c179a079a2fbeda852bca2d...                   3
2     9366a1267f814193d9ac2f13786d89acdb16456ee46db4...                   4
3     c5fbf6684b10dc2f84635ba7fcb3b0c7b6021b34bf4938...                   5
4     6ed82083cf58489e4a01e05edbc9f5b3f0d350c5978b10...                   6
...                                                 ...                 ...
9819  757069f15bc74739c51f5fe03167d51f594f4779017b2b...                9831
9820  51e7f294b7b63f15864316bbaf5b701b43f0c11c18c9fd...                9832
9821  f7345ccf09fe678c1ba8487d9a61e4bfc1658144b98ae9...                9833
9822  23753e35a4b02c439e9adecab3d26887ba4729e07258fa...                9834
9823  b3e8e6f86945cf4e67c8e473ff99a6ecadb99b5327f5f5...                9835

      45  Female  ... Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23  \
0     74  Female  ...         NaN         NaN         NaN         NaN
1     59    Male  ...         NaN         NaN         NaN         NaN
2     46  Female  ...         NaN         NaN         NaN         NaN
3     64  Female  ...         NaN         NaN         NaN         NaN
4     20    Male  ...         NaN         NaN         NaN         NaN
...   ..     ...  ...         ...         ...         ...         ...
9819  43  Female  ...         NaN         NaN         NaN         NaN
9820  50  Female  ...          弱視         NaN         NaN         NaN
9821  33    Male  ...         NaN         NaN         NaN         NaN
9822  27    Male  ...         NaN         NaN         NaN         NaN
9823  73    Male  ...         NaN         NaN         NaN         NaN

     Unnamed: 24
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
9819         NaN
9820         NaN
9821         NaN
9822         NaN
9823         NaN

[9824 rows x 25 columns]

In [19]:
df2.iloc[0:,0]

0        7777705.0
1       10527858.0
2       10021590.0
3       10964694.0
4        7711566.0
           ...
9819    11613788.0
9820     9055165.0
9821    11452681.0
9822     6911048.0
9823    11587782.0
Name: 10893530, Length: 9824, dtype: float64

#**CSVから該当する文字列のある行を抜き出すサンプルコード**

In [25]:
#df2の0列目から"2695701"を見つけて、その行を抜き出す
#さらにその行の2列目の内容を出力する

img_num = df2[df2.iloc[0:,0] == 2695701].iloc[0,2]
print(img_num)

1041

In [26]:
def transpose_value(df1, df2):
    k=0
    for i in range(len(df1)):
        id = df1.iloc[k,1]  #CSV1つ目のidを取得
        print(id)

        try:
            img_num = df2[df2.iloc[0:,0] == int(id)].iloc[0,2]
        except: #一致するIDがなければ空欄にする
            img_num = ""

        df1.iloc[k, 3] = img_num #CSV1つ目の所定の場所に代入
        k+=1
    return df1


df3 = transpose_value(df1, df2)

print(df3)

2601241
5658954
4366674
4418561
4538090
4549138
4733547
4854585
6808564
10214012
8555159
9054201
9092531
10378101
9462698
10000421
10069313
8373601
10591862
10991573
10880622
11864842
11836232
11883331
12036153
12020235
11976106
11375422
11694741
8371461
9243553
10027421
7213745
10995358
11875175
10150301
11054823
11125319
11025963
10764531
10006088
8769917
6593268
10316767
8262979
10422301
11469165
11133997
11583440
9484391
10224814
10344055
6690640
11668428
11681710
11001127
10199151
10539291
10590416
10596566
11021283
11379987
10500062
9032143
10553866
10844815
11043901
10194489
9095843
9160716
10596566
8634576
9283624
9446187
6327486
11107496
10466648
11749826
10472902
9219782
7288333
7227430
5475436
6230395
11511991
11277579
4388732
11498951
11540310
11651434
11643487
11912111
11665274
11791658
9312471
9163904
11727626
7059434
5934137
11656919
6349101
10053634
11526858
6328787
9145701
6384397
8832697
11357152
10759803
11839740
5740800
8931043
8536071
10358485
10956481
10445611
7353157
11026390
10218071
11284513
7756810
10517521
9067153
9067153
10954961
11173051
10444482
8159511
9466934
8963646
10705524
11855133
11854631
9002320
9286941
10581838
9516680
11885551
10767701
11059336
     Unnamed: 0        id Unnamed: 2 Unnamed: 3 Unnamed: 4  ... Unnamed: 6  \
0           1.0   2601241          男                    松下  ...        NaN
1           2.0   5658954          男                    松下  ...        NaN
2           3.0   4366674          男       2898         松下  ...         22
3           4.0   4418561          男                    松下  ...         20
4           5.0   4538090          男                    松下  ...        15歳
..          ...       ...        ...        ...        ...  ...        ...
135       135.0  10581838          女       3725         松下  ...        NaN
136       136.0   9516680          男                    松下  ...         なし
137       137.0  11885551          男       8425         松下  ...         あり
138       138.0  10767701          男       4484         松下  ...         あり
139       139.0  11059336          男                    松下  ...         なし

    Unnamed: 7  Unnamed: 8 Unnamed: 9 Unnamed: 10
0           5歳    1947/5/5      （１）両眼         NaN
1          幼少時   1964/8/29      （１）両眼         NaN
2           6歳   1970/1/10      （１）両眼         NaN
3        5歳2ヵ月   1970/11/5      （１）両眼         NaN
4        3歳3ヵ月  1972/10/15      （３）左眼         NaN
..         ...         ...        ...         ...
135        NaN          なし      40027           両
136        NaN          なし      38765           両
137        NaN          1歳      43380           右
138        NaN         なし？      41183         NaN
139        NaN         NaN      40075           両

[140 rows x 11 columns]

#**CSVとして保存**

In [27]:
csv_path = '/content/drive/MyDrive/進行中の研究/先天性緑内障プロジェクト/先天性緑内障1.31.csv'
csv = df1.to_csv(csv_path, encoding='utf_8_sig')